$max-sm: 575px;
$max-md: 767px;
$max-lg: 991px;
$max-xl: 1199px;
$min-sm: 576px;
$min-md: 768px;
$min-lg: 992px;
$min-xl: 1200px;

.sidebar {
  @media (min-width: $min-lg) {
    border-right: 1px solid #dee2e6;
  }
}
